/.metadata/
/netbeans_first_project/first_project/nbproject/private/
/netbeans_first_project/first_project/build/
/new_terminal_os_project/nbproject/private/
/new_terminal_os_project/build/
/DBMS_Practice_Reader_Management_Syetem_Project/nbproject/private/
/Servlets_DemoApp/nbproject/private/
/first_project/nbproject/private/
/learning_gui/nbproject/private/
/DSA/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/nbproject/private/
/first_project/build/
/DBMS_Practice_Reader_Management_Syetem_Project/build/
